<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    

    <title>Home</title>
  </head>
  <body background="black">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">MIT</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/Courses">Courses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/Login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/Fees">Fees</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/Events">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/Contact">Contact Us</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div>
    
        <div>
                <div>  <div class="paragraph lh-none paragraph--type--vignette paragraph--view-mode--default">
            
      <video playsinline autoplay muted loop width="100%" height="auto">
    <source src="https://player.vimeo.com/external/359344963.sd.mp4?s=95e2d6120bf8034a2f0d9c797f9b6a059e1deaf1&#038;profile_id=165" type="video/mp4">
    </video>
    
    
        </div>
    </div>

      <div class="container my-3">
      <h2 class=text-center>COURSES</h2>
      <div class="row">
        <div class="col-md-2">

          <div class="card text-white bg-primary mb-3" style="max-width: 16rem;">
            <a href="/Computer"><img src="/static/images/computer.jpeg" class="card-img-top" alt="..."></a>


            <div class="card-header">Computer Engineering</div>
            <div class="card-body">
              
              <p class="card-text">Department of Computer Engineering is the largest and most research strong department... </p>
              
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="card text-white bg-secondary mb-3" style="max-width: 16rem;">
            <a href="/Mechanical"><img src="/static/images/mechanical.jpeg" class="card-img-top" alt="..."></a>

            <div class="card-header">Mechanical Engineering</div>
            <div class="card-body">
              
              <p class="card-text">Mechanical Engineering is the discipline that applies the principles of Mechanics.... </p>
              
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card text-white bg-success mb-3" style="max-width: 16rem;">
            <a href="/Civil"><img src="/static/images/civil.jpg" class="card-img-top" alt="..."></a>

            <div class="card-header">Civil Engineering</div>
            <div class="card-body">
             
              <p class="card-text">Department of Civil Engineering reflects importance and legacy of the discipline! Civil Engineering has...</p>
             
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="card text-white bg-danger mb-3" style="max-width: 16rem;">
            <a href="/Information"><img src="/static/images/IT3.jpeg" class="card-img-top" alt="..."></a>

            <div class="card-header">Information Technology</div>
            <div class="card-body">
              
              <p class="card-text">Information technology (IT) is the use of computers to create, process, store, retrieve....</p>
            
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="card text-dark bg-warning mb-3" style="max-width: 16rem;">
            <a href="/AI"><img src= "/static/images/electronic.jpeg" class="card-img-top" alt="..."></a>

            <div class="card-header">AI and ML</div>
            <div class="card-body">
             
              <p class="card-text">The department of Computer Science and Engineering (Artificial Intelligence and Machine Learning) is...</p>
         
            </div>
          </div>
        </div>

        
        <div class="col-md-2">
          <div class="card text-dark bg-info mb-3" style="max-width: 16rem;">
            <a href="/Data"><img src= "/static/images/electronic.jpeg" class="card-img-top" alt="..."></a>

            <div class="card-header">Data Science</div>
            <div class="card-body">
            
              <p class="card-text">Department of Computer Sci. and Engineering with Data Science is a four year full time undergraduate programme...</p>
           
            </div>
          </div>
        </div>

        <div class="container my-3">
          <h2 class=text-center >OUR FACILITIES</h2>
          <div class="row">
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card text-dark bg-warning mb-3">
              <img src="/static/images/Laboratries.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">TECHANICAL LABORATORIES</h5>
                <p class="card-text">MIT has various laboratories in order to allow students to experiments with his ideas. DBIT has more than enough computer labs, Electronics and Mechanical labs. We also have special labs like robotics, advanced computing machines for high end machine learning computations.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-white bg-primary mb-3">
              <img src="/static/images/Sports.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">SPORTS FACILITIES</h5>
                <p class="card-text">
                  MIT encourages and promotes various sporting activities to inculcate sportsmanship qualities of leadership, perseverance, team spirit and brotherhood along with developing numerous cognitive skills through participation in various sports activities!.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-white bg-success mb-3">
              <img src="/static/images/NSS.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">NATIONAL SERVICE SCHEME</h5>
                <p class="card-text">MIT  has a separate NSS unit to provide its contribution to society. NSS regularly conducts events like blood donation camps, Tree plantations, Water Harvesting and many more activities.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-white bg-danger mb-3">
              <img src="/static/images/entrepreneur.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">ENTREPRENEURSHIP CELL</h5>
                <p class="card-text">
                Entrepreneurship cell is an organization dedicated to promoting the spirit of entrepreneurship among students. The basic aim of E-Cell is to encourage college-level students today to start their own enterprise.</p>
              </div>
            </div>
          </div>
        </div>


        <div class="container mt-5" style="margin: 0 auto; text-align:justify;">
          <div class="col-md-12">
            <center><h2>Our Core Values</h2></center>
            <hr>
            <div class="row">
            <div class="col-md-4">
              <center><img src="static/images/affordability.png" class="img-responsive" alt="" width="200px" height="200px" data-pagespeed-url-hash="142809746" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><br/>
              <h3>Affordability</h3></center><br/>
              Defying myth that education is a privilege, MIT university, Mumbai is always one step ahead with its initiatives of making education affordable for all.
            </div>
      
            <div class="col-md-4">
            <center><img src="static/images/integrity.png" class="img-responsive" alt="" width="200px" height="200px" data-pagespeed-url-hash="4288209365" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><br/>
              <h3>Integrity</h3></center><br/>
              MIT,Mumbai holds the integrity of educational platforms close to it. All practices are honest, fair and objective to imparting quality education. Be it teachers or stakeholders or students, and every aspect is governed legally as per university norms.
            </div>
      
            <div class="col-md-4">
            <center><img src="static/images/inclusiveness.png" class="img-responsive" alt="" width="200px" height="200px" data-pagespeed-url-hash="3626932591" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><br/>
              <h3>Inclusiveness</h3></center><br/>
              MIT,Mumbai is a university without barriers. Each and every prospective student irrespective of background or abilities is welcome to pursue knowledge in our campus.
            </div>
          </div>
            <br/>
            <div class="clearfix"></div>
  
            <div class="row">
            <div class="col-md-4">
            <center><img src="static/images/quality.png" class="img-responsive" alt="" width="200px" height="200px" data-pagespeed-url-hash="1222238727" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><br/>
              <h3>Quality</h3></center><br/>
              Educational initiatives need to be flag bearers of knowledge and skills which are necessary to accomplish career goals. MIT Mumbai ensures that every activity is quality at par and strengthens the daily effects of the structural delivery of the curriculum
            </div>
            
            <div class="col-md-4">
            <center><img src="/static/images/diversity.png" class="img-responsive" alt="" width="200px" height="200px" data-pagespeed-url-hash="4215564801" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><br/>
              <h3>Diversity</h3></center><br/>
              Blending the educational circumstances and environment which principled to promote dignified behaviour towards every community irrespective of country or state. <b>MIT Mumbai</b> campus does not differentiate amongst its students nor encourages differentiation.
            </div>
            
            <div class="col-md-4">
            <center><img src="static/images/life-long-learning.png" class="img-responsive" alt="" width="200px" height="200px" data-pagespeed-url-hash="2973937428" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"><br/>
              <h3>Safety</h3></center><br/>
              <b>MIT Mumbai </b>is the educational haven which is safe from all prejudices of the society and judgments. We strive to make our campus healthy in terms of influences to nurture the young impressionable minds.
            </div>
            </div>
          </div>	
        </div>



        <div class="card text-center mt-5">
         
          <div class="card-body">
            <h5 class="card-title">INSTITUTE VISION</h5>
            <p class="card-text">MIT will be known to have an innovative, enjoyable and holistic learning environment that enhances individual success. We seek to make MIT the preferred choice of students, employers hiring engineering graduates and practitioners seeking further education. MIT aspires to be a premier institute producing globally competent engineering professionals to contribute towards socio-economic growth of India.</p>
            
          </div>
         
        </div>

        <div class="card text-center mt-5">
         
          <div class="card-body">
            <h5 class="card-title">INSTITUTE MISSION</h5>
            <p class="card-text">We aim to provide service in the best tradition of MIT, by seeking to develop entrepreneurial attitude and social commitment in every student we train. MIT will make a contribution to society through its educative process in a diverse and stimulating learning environment wherein students, faculty and staff can strive and grow.</p>
            
          </div>
         
        </div>

        <div class="card mt-5">
         
          <div class="card-body">
            <h5 class="card-title text-center">OBJECTIVES</h5>
            <ul class="card-text">
              <li>To produce engineers who will excel in industry and research.</li>
              <li>To provide consultancy to various industries.</li>
              <li>To provide programmes which are contemporary and relevant to industry.</li>
              <li>To share expertise and resources for the benefit of underprivileged youth of local communities.</li>
              <li>To be a center of research and development in the field of technology.</li>
              <li>To gain recognition in the field of technical education, both nationally and internationally.</li>
              </ul>
            
            
          </div>
         
        </div>

        <div class="card text-center mt-5">
         
          <div class="card-body">
            <h5 class="card-title">NBA Accreditation</h5>
            <p class="card-text">NBA (National Board of Accreditation) has accredited five undergraduate engineering courses / programs at Modern Institute of Technology. The courses accredited are Civil Engineering, Mechanical Engineering, Computer Engineering, Information Technology and Electronics &amp; Telecommunication Engineering. We have started two new engineering courses in Computer Science and Engineering (ARTIFICIAL INTELLIGENCE AND MACHINE LEARNING) and Computer Science and Engineering (DATA SCIENCE).<br /><br />
              MIT was established in 2014. Probably, MIT is the first engineering college in India that has all courses accredited by NBA in the shortest possible time since it started functioning. <br /><br />
              The college took a roaring jump in introducing new practices like e-learning platform, Moodle, Project Based Learning, 40 plus tie-up with technology world leaders under MIT Skills. <br /><br />
              Experiential learning at MIT is also recognized by US-based organization by awarding STEM accreditation.</p>
            
          </div>
         
        </div>

          
              </div>
        </div>
        </div>

      
        <footer class="container-fluid bg-grey py-5">
          <style>


 .bg-grey {
    background: #292929;
 }
 .logo-footer {
    margin-bottom: 40px;
 }
 footer {
        color: grey;
 }

footer h6 {

margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: grey;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
 .btn-footer {
             color: grey;
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 30px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
    margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
 .social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid grey;
height: 100%;
}
        
 


          </style>
          
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <div class="container">
           <div class="row">
              <div class="col-md-6">
                 <div class="row">
                    <div class="col-md-6 ">
                       <div class="logo-part">
                          <img src="/static/images/LOGO.PNG" class="w-50 logo-footer" >
                          <p>Dhalwala,Tehri Garhwal, Rishikesh, Uttarakhand 249201</p>
                          
                       </div>
                    </div>
                    <div class="col-md-6 px-4">
                       <h6>Modern Institute of Technology</h6>
                       <p>Knowledge to go places.</p>
                       <a href="" class="btn-footer"> More Info </a><br>
                       <a href="/Contact" class="btn-footer"> Contact Us</a>
                    </div>
                 </div>
              </div>
              <div class="col-md-6">
                 <div class="row">
                    <div class="col-md-6 px-4">
                       <h6> Navigate</h6>
                       <div class="row ">
                          <div class="col-md-6">
                             <ul>
                                <li> <a href="."> Home</a> </li>
                                <li> <a href="/Courses"> Courses</a> </li>
                                <li> <a href="Login"> Login</a> </li>
                                <li> <a href="Fees"> Fees</a> </li>
                                <li> <a href="Events"> Events</a> </li>
                                <li> <a href="Contact"> Contact</a> </li>
                             </ul>
                          </div>

                          
                          
                       </div>
                    </div>
                    
                 </div>
              </div>
           </div>
        </div>
        </footer>
            

        
           

              
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>